# Values show default values. Remove or set value for prod
# valid: dev, prod (default: prod)
APP_ENV=dev

APP_RASTER_FILE_Z6=germany_1280m_v3.tif
APP_RASTER_FILE_Z7=germany_640m_v3.tif
APP_RASTER_FILE_Z8=germany_320m_v3.tif
APP_RASTER_FILE_Z9=germany_160m_v3.tif
APP_RASTER_FILE_Z99=germany_20m_v3.tif

APP_CORS_ORIGINS=["https://alleinseinkarte.de","https://www.alleinseinkarte.de"]
APP_ALLOWED_TMS=WebMercatorQuad
APP_RASTER_PATH=raster/out

# Values are off by default, remove or set false for prod
APP_ENABLE_DOCS=True
APP_ADD_PREVIEW=True
APP_ADD_PART=True
APP_ADD_VIEWER=True
APP_ADD_OGC_MAPS=True
